:root {
  --color-primary: #355c7d;
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-black: #020b23;
  --color-dark: #26052d;
  --color-bright: #cbcb3f;
  --color-primary-variant: rgba(0, 0, 240, 0.2);
  --transition: all 400ms ease;
  --bottom-section-padding: 10px;
}

/* ********************** Navbar ********************* */
nav {
  background: var(--color-primary);
  color: var(--color-light);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 70px;
  width: 100vw;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.logo a {
  font-weight: 700;
  color: var(--color-black);
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
}
a {
  color: #fff;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
  color: var(--color-bright);
}
.lbtn,
.sbtn {
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--color-black);
  border-radius: 4rem;
}
.login_signup a:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition);
}
.navitems {
  display: inline;
  flex: 20rem;
}
.navitems ul li {
  margin-right: 0rem;
  padding-left: 2rem;
}
.uil {
  font-size: large;
}
.login_signup {
  display: flex;
  flex: 0.53;
  gap: 3px;
}
.logo {
  display: flex;
  margin-left: 50px;
  margin-right: 30rem;
}

#contact {
  padding-top: 10rem;
}
#contact .container {
  display: grid;
  grid-template-columns: 20rem auto;
  gap: 5rem;
}
#contact .container aside {
  background: var(--color-light);
  padding: 2rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}
#contact .container aside h4 {
  color: var(--color-black);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#contact aside article {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
#contact aside article:last-child {
  margin-bottom: 0;
}
#contact aside article i {
  color: var(--color-black);
  font-size: 1.2rem;
}
#contact aside article h5 {
  font-weight: 600;
  color: var(--color-black);
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact form input,
#contact textarea {
  padding: 1.4rem;
  background: var(--color-light);
}

#contact textarea {
  height: 10rem;
}

#contact form button {
  width: 8rem;
  background: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
}

/* ********************** Footer ********************* */
footer {
  max-width: 100%;
}
.footer_container {
  background-color: var(--color-primary);
  margin-top: 100px;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 5rem;
}
.footer_container h3,
input,
h4,
p {
  margin-left: 10px;
}
.footer_container input {
  border-radius: 2rem;
  padding: 10px;
  width: 200px;
  background-color: var(--color-black);
  color: var(--color-bright);
}
.footer_container button {
  border-radius: 5rem;
  padding: 5px;
  cursor: pointer;
}
.footer_container button:hover {
  background: var(--color-black);
  color: var(--color-bright);
}
footer ul li {
  margin-bottom: 1rem;
}

footer ul li a:hover {
  color: var(--color-white);
  text-decoration: underline;
}
.footer_1 img {
  border-radius: 10px;
}
.footer_2 h4 {
  font-size: x-large;
}
.footer_2 a:hover {
  text-decoration: underline;
}

.footer_2 p {
  color: var(--color-light);
}
.copyright {
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: center;
}


/* Media Queries */
@media screen and (max-width: 600px) {
  #contact .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

